# Store this file at the root of your local repository.

.DS_Store

shatterfall/Library/AssetImportState

shatterfall/Library/AssetServerCacheV3

shatterfall/Library/FailedAssetImports.txt

shatterfall/Library/ScriptAssemblies

shatterfall/Library/ScriptMapper

shatterfall/Library/ShaderCache

shatterfall/Library/UnityAssemblies

shatterfall/Library/assetDatabase3

shatterfall/Library/cache

shatterfall/Library/expandedItems

shatterfall/Library/metadata

shatterfall/Library/previews

shatterfall/Library/guidmapper

shatterfall/Library/CurrentLayout.dwlt

shatterfall/Temp

shatterfall/build

shatterfall/.DS_Store

Temp

*.csproj

*.pidb

*.sln

*.log

build

############