# Store this file at the root of your local repository.

.DS_Store

Library/AssetImportState

Library/AssetServerCacheV3

Library/FailedAssetImports.txt

Library/ScriptAssemblies

Library/ScriptMapper

Library/ShaderCache

Library/UnityAssemblies

Library/assetDatabase3

Library/cache

Library/expandedItems

Library/metadata

Library/previews

Library/guidmapper

Library/CurrentLayout.dwlt

Temp

*.csproj

*.pidb

*.sln

*.log

build

############